

/* .navcolor{
    background-color:#145DA0;
} */
.navbar-div{
    background-color: #B1D4E0;
 
}
.bg{
    background-color: #ffffff;
}



/*Midnight Blue
#145DA0

Dark Blue
#0C2D48

Blue
#2E8BC0

Baby Blue
#B1D4E0*/
